# ===============================
# Python / Virtualenv
# ===============================
.venv/
venv/
ENV/
__pycache__/
*.py[cod]

# ===============================
# MkDocs
# ===============================
site/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
